@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Change Password</h1>

<form method="post" asp-action="ChangePassword">
    Email <input name="email" type="text" /> <p></p>
    Password Lama <input name="password" type="text" /><p></p>
    Password Baru <input name="passbaru" type="text" /><p></p>

    <button type="submit">Submit</button>
</form>